body,
html {
  background-color: black;
  widows: 100%;
  height: 100%;
  padding: 2rem 1rem;
  font-family: "Work Sans", sans-serif;
  color: whitesmoke;
  line-height: 1.15;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

.flex-container {
  display: flex;
  justify-content: center;
}
#photo-collection {
  margin: 4em 0;
}
.gallery {
  display: inline-block;
  padding: 0.35em 1.2em;
  background-color: transparent;
  border: 0.1em solid whitesmoke;
  color: whitesmoke;
  margin: 0.8em 0.3em 0.8em 0.3em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.2s;
  font-size: 1.2em;
}

.gallery:hover {
  background: rgba(148, 148, 148);
  cursor: pointer;
}
.photos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
  width: 70%;

  margin: 10px auto;
  resize: both;
}
.thumb {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: center;
  flex: 1 0 auto;
  width: 100%;
  height: auto;
  margin: 2px;
  text-decoration: none;
  background-color: rgba(15, 15, 15, 0.5);
  box-shadow: 0px 0px 0px 0px rgba(141, 141, 141, 0);
  transition: box-shadow 300ms, transform 400ms, z-index 400ms,
    background-position 400ms;
  z-index: 1;
}

.thumb:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
  transform: scale(1.2, 1.2);
  z-index: 100;
  cursor: pointer;
}

.thumb-img,
.thumb-text {
  display: block;
  min-width: 60px;
  max-width: 300px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 15vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: black;
  /* background-color: rgb(92, 91, 91); */
  background-color: rgba(148, 148, 148, 0.8);
  z-index: 999;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 700px;
  max-height: 80vh;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: black;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.pg-number {
  display: inline-block;
  padding: 0.35em 1.2em;
  background-color: transparent;
  border: 0.1em solid whitesmoke;
  color: whitesmoke;
  margin: 2em, 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.2s;
  font-size: 1.2em;
}

.pg-number:hover {
  background: rgba(148, 148, 148);
  cursor: pointer;
}

button:disabled,
button[disabled] {
  border-color: #999999;
  color: #666666;
}

/* Responsive Columns */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .gallery {
    display: block;
    margin: 0.4em auto;
    width: 50vw;
  }
  .photos-container {
    width: 50%;
    margin: 6px 0;
  }
  .modal-content {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .photos-container {
    display: block;
    margin: 0.4em auto;
    width: auto;
    height: 100%;
  }
  .gallery {
    display: block;
    width: 80vw;
  }
}
